*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.scroll-section-outer{
    overflow: hidden;
}

.scroll-section-inner{
    height: 100vh;
    width: 400vw;
    display: flex;
    position: relative;
}

.scroll-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


svg {
    position: absolute;
    top: 12em;
    left: 10vw;
    width: 50vw;
}

svg .mask {
    width: 0;
}
